body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    width: 800px;
    height: 800px;
    border: 4px solid black;
}

.hoverEffect {
    background-color: black;
}

.erased {
    background-color: white;
}

.buttonBox {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    gap: 10px;
}

button {
    padding: 16px;
    color: white;
    font-weight: bolder;
    font-family: sans-serif;
    background-color: darkblue;
    border-radius: 6px;
    border: solid 2px grey;
}

.inUse {
    background-color: blue;
}

#title {
    margin-top: .5rem;
    font-family: 'Times New Roman', sans-serif;
    font-size: 4rem;
}